* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* Header-Banner Section Start Form Here */
.header {
  width: 100%;
  height: 850px;
  background-color: rgba(229, 84, 115, 0.1);
}

.banner-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title-text {
  font-family: "Lobster", cursive;
  color: #272727;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 32px;
}
.banner-title-text span {
  font-family: "Lobster", cursive;
  color: #e55473;
}

.banner-description {
  max-width: 635px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}
/* ______ Button ______ */

.btn-praimary {
  width: 180px;
  height: 64px;
  background-color: #e55473;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.btn-praimary:hover {
  background-color: rgb(185, 185, 185);
  color: #e55473;
  border: 2px solid #e55473;
}

.banner-image-container {
  margin-top: 50px;
}

/* Featured Flowers Section Start Form Here */

.featured-container {
  max-width: 1440px;
  text-align: center;
  margin: auto;
  margin-bottom: 128px;
}

.featured-text-container {
  margin-top: 170px;
}

.featured-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.featured-title-description {
  max-width: 595px;
  margin: auto;
  color: rgba(39, 39, 39, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

.featured-items-container {
  display: flex;
  justify-content: space-between;
}

.featured-item1,
.featured-item2,
.featured-item3 {
  width: 465px;
  height: 540px;
  border-radius: 300px 300px 0 0;
  margin-bottom: 32px;
}

.featured-item1 {
  background-color: rgba(167, 33, 98, 0.15);
}
.featured-item1 > img {
  margin-top: 110px;
}

.featured-item2 {
  background-color: rgba(5, 151, 160, 0.15);
}

.featured-item2 > img {
  margin-top: 117px;
}

.featured-item3 {
  background-color: rgba(71, 125, 17, 0.15);
}

.featured-item3 > img {
  margin-top: 67px;
}

.featured-item-title > a {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

/* Sales-Offer Section Start Form Here */

.sale-offer-container {
  width: 100%;
  height: 620px;
  background-color: rgba(229, 84, 115, 0.1);
}

.sale-offer-items-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.sale-offer-title-text {
  color: #272727;
  font-size: 40px;
  font-weight: 7 900;
  margin-bottom: 24px;
}

.sale-offer-title-text span {
  color: #e55473;
  font-size: 50px;
}
.sale-offer-description {
  max-width: 595px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.btn-signup {
  width: 155px;
}

/* Instagram Post Section Start Form Here */
.instagram-post-container {
  max-width: 1440px;
  margin: 128px auto;
  text-align: center;
}

.instagram-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.instagram-title-description {
  max-width: 595px;
  margin: auto;
  color: rgba(39, 39, 39, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}
.instagram-image-container {
  display: flex;
  justify-content: space-between;
}

.instagram-image-container > img {
  display: inline-block;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgb(128, 128, 128);
  border-radius: 8px;
}

/* Newsletter Section Start Form Here */

.newsletter-container {
  max-width: 1440px;
  height: 450px;
  margin: auto;
  margin-bottom: 128px;
  background-image: linear-gradient(
      90deg,
      rgba(229, 84, 115, 0.3),
      rgba(229, 84, 115, 0.2)
    ),
    url("./Flower Asset/bg-newsletter.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 8px;
}

.newsletter-title {
  color: #272727;
  font-size: 40px;
  font-weight: 900;
  padding-top: 122px;
  margin-bottom: 16px;
}

.newsletter-title > span {
  color: #e55473;
  font-size: 50px;
}

.newsletter-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.newsletter-email-container > input {
  display: inline-block;
  width: 700px;
  height: 65px;
  padding-left: 22px;
  font-size: 18px;
  color: rgba(39, 39, 39, 0.6);
  border: none;
  outline: none;
  border-radius: 8px;
  margin-right: 16px;
}
.newsletter-email-container > a {
  display: inline-block;
}

.btn-subscrib {
  width: 150px;
}

.footer-container {
  width: 100%;
  background-color: #111010;
  color: #ffffff;
  text-align: center;
  padding: 128px 0;
}

.footer-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 25px;
}

.footer-title > span {
  color: #e55473;
}

.footer-description {
  max-width: 625px;
  margin: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.copyright >span {
  color: #e55473;
  font-size: 18px;
}

.copyright > a {
  text-decoration: none;
  color: #e55473;
}
.copyright > a:hover {
  color: #E6C7CF;
}
